# Boolean Selection Single Conditions

## Boolean Selection
Boolean Selection, also referred to as **Boolean Indexing**, is the process of selecting subsets of rows from DataFrames (or Series) based on the actual data values and NOT by their labels or integer locations. All of the previous subset selections where done using either labels or integer location and nothing to do with the actual values.

### Examples of Boolean Selection

Let's see some examples of actual questions (in plain English) that boolean selection can help us answer from the bikes dataset. The term **query** is used to refer to these sorts of questions.

* Find all rides by males
* Find all rides with duration longer than 2 hours
* Find all rides that took place between March and June of 2015.
* Find all the rides with a duration longer than 2 hours by females with temperature higher than 90 degrees

### All queries have a logical condition
Each of the above queries have a strict logical condition that must be checked one row at a time.

### Keep or discard an entire row of data
If you were to manually answer the above queries, you would need to scan each row and determine whether the row, as a whole, meets the condition. If so, then it is kept in the result, otherwise it is discarded.

### Each row will have a True or False value associated with it
When you perform boolean selection, each row of the DataFrame (or value of a Series) will have a `True` or `False` value associated with it that corresponds to the outcome of the logical condition.

### Begin with a small DataFrame
We will perform our first boolean selection on our sample DataFrame. Let's read it in now.

In [ ]:
import pandas as pd
df = pd.read_csv('../data/sample_data.csv', index_col=0)
df

## Manual filtering the data
Let's find all the people who are younger than 30 years old. We will do this manually by inspecting the data.

### Create a list of booleans
By inspecting the data, we see that `Niko`, `Aaron`, and `Penelope` are all under 30 years old. To signify which people are under 30, we create a list of 7 boolean values corresponding to the 7 rows in the DataFrame. The values in the list that correspond with the positions of `Niko`, `Aaron`, and `Penelope` are `True`. All other values are `False`. `Niko`, `Aaron`, and `Penelope` are the 2nd, 3rd, and 4th rows, so these are the locations in the list that are `True`.

In [ ]:
filt = [False, True, True, True, False, False, False]

### Variable name `filt`
The variable name `filt`, which is just an abbreviation for filter, will be used throughout the book to refer to the sequence of booleans. You are free to use any variable name you like for the sequence of booleans, but being consistent makes your code easier to understand.

### Pass this list into just the brackets
The above list has `True` in the 2nd, 3rd, and 4th positions. These will be the rows that are kept in the result during boolean selection. Place the list inside the brackets to complete the selection.

In [ ]:
df[filt]

### Wait a second… Isn’t `[ ]` just for column selection?

The primary purpose of *just the brackets* for a DataFrame is to select one or more columns by using either a string or a list of strings. All of a sudden, this example shows entire rows being selected with boolean values. This is what makes pandas, unfortunately, a confusing library to learn and use.

## Operator Overloading
*Just the brackets* is **overloaded**. Depending on the inputs, pandas will do something completely different. Here are the rules for the different objects passed to *just the brackets*.

* **string** — return a column as a Series
* **list of strings** — return all those columns as a DataFrame
* **sequence of booleans** — select all rows where `True`
* **slice** — select rows (can do both label and integer location — confusing!) I never do this as it is ambiguous. This will be covered in the **Miscellaneous Subset Selection** chapter.

In summary, *just the brackets* primarily selects columns, but if you pass it a sequence of booleans it will select all rows that are `True`.

### Using booleans in a Series and not a list
Instead of a list, we can use a Series of booleans, which will make the same selection. Below, we use the Series constructor to create a Series object. The Series must have the same index as the DataFrame it is selecting from in order to work properly, so we create it with the same index as the original DataFrame. This automatic alignment of the index is important and covered in the **Joining Data** part.

In [ ]:
filt = pd.Series([False, True, True, True, False, False, False], 
                 index=df.index)
filt

### Use the boolean Series to do the boolean selection
Placing the Series directly in the brackets will again select only the rows that correspond with the `True` values in the Series.

In [ ]:
df[filt]

## Practical Boolean Selection
We will almost never create boolean lists/Series manually like we did above but instead use the actual data to create them.

### Creating boolean Series from column data
By far the most common way to create a boolean Series will be from the values of one particular column. We will test a condition using one of the six comparison operators:

* `<`
* `<=`
* `>`
* `>=`
* `==`
* `!=`


Let's begin by reading in the bikes dataset.

In [ ]:
bikes = pd.read_csv('../data/bikes.csv')
bikes.head(3)

### Create a boolean Series
Let's create a boolean Series by determining which rows have a trip duration greater than 1000 seconds. To make the comparison, we select the `tripduration` column as a Series and compare it against the integer 1000.

In [ ]:
filt = bikes['tripduration'] > 1000
filt.head(3)

When we write `bikes['tripduration'] > 1000`, pandas compares each value in the `tripduration` column against 1000. It returns a new Series the same length as `tripduartion` with boolean values corresponding to the outcome of the comparison. Let's verify that the `filt` Series is the same length as the DataFrame.

In [ ]:
len(filt)

In [ ]:
len(bikes)

### Manually verify correctness
Take a look at the `tripduration` column to manually verify that only the third row satisfied the condition.

### Complete the boolean selection
We can now pass the `filt` boolean Series into *just the brackets* to filter the entire DataFrame to return all the rows in the bikes dataset that have a trip duration greater than 1000. Verify that all `tripduration` values are greater than 1000.

In [ ]:
bikes[filt].head(3)

### How many rows have a trip duration greater than 1000?
To answer this question, let's assign the result of the boolean selection to a variable and then compare the number of rows between it and the original DataFrame.

In [ ]:
bikes_duration_1000 = bikes[filt]

Let's find the number of rows in each DataFrame.

In [ ]:
len(bikes)

In [ ]:
len(bikes_duration_1000)

We compute that 20% of the rides are longer than 1,000 seconds.

In [ ]:
len(bikes_duration_1000) / len(bikes)

## Boolean selection in one line
Often, you will see boolean selection completed in a single line of code instead of the two lines we used above. The expression for the filter is placed directly inside the brackets. Although this method will save a line of code, I recommend assigning the filter as a separate variable to help with readability.

In [ ]:
bikes[bikes['tripduration'] > 1000].head(3)

## Single condition expression
Our first example tested a single condition (whether the trip duration was 1,000 or more). Let's test a different single condition and find all the rides that happened when the weather was cloudy. We use the `==` operator to test for equality and again pass this variable to the brackets which completes our selection.

In [ ]:
filt = bikes['events'] == 'cloudy'
bikes[filt].head(3)

## Exercises

### Exercise 1
<span  style="color:green; font-size:16px">Read in the movie dataset and set the index to be the title. Select all movies that have Tom Hanks as `actor1`. How many of these movies has he starred in?</span>

In [1]:
import pandas as pd
movies = pd.read_csv('../data/movie.csv', index_col='title')
movies.head(2)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1

In [12]:
filt = movies['actor1'] == 'Tom Hanks'
thm = movies[filt]
thm.shape[0]

24

### Exercise 2
<span  style="color:green; font-size:16px">Select movies with an IMDB score greater than 9.</span>

In [13]:
filt = movies['imdb_score'] > 9
movies[filt]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
The Shawshank Redemption,1994.0,Color,R,142.0,Frank Darabont,0.0,Morgan Freeman,11000.0,Jeffrey DeMunn,745.0,...,461.0,28341469.0,Crime|Drama,199.0,1689764,escape from prison|first person narration|pris...,English,USA,25000000.0,9.3
Towering Inferno,NaN,Color,NaN,65.0,John Blanchard,0.0,Martin Short,770.0,Andrea Martin,179.0,...,176.0,NaN,Comedy,NaN,10,NaN,English,Canada,NaN,9.5
Dekalog,NaN,Color,TV-MA,55.0,NaN,NaN,Krystyna Janda,20.0,Olaf Lubaszenko,3.0,...,2.0,447093.0,Drama,53.0,12590,meaning of life|moral challenge|morality|searc...,Polish,Poland,NaN,9.1
The Godfather,1972.0,Color,R,175.0,Francis Ford Coppola,0.0,Al Pacino,14000.0,Marlon Brando,10000.0,...,3000.0,134821952.0,Crime|Drama,208.0,1155770,crime family|mafia|organized crime|patriarch|r...,English,USA,6000000.0,9.2
Kickboxer: Vengeance,2016.0,NaN,NaN,90.0,John Stockwell,134.0,Matthew Ziff,260000.0,T.J. Storm,454.0,...,354.0,NaN,Action,2.0,246,NaN,NaN,USA,17000000.0,9.1

### Exercise 3
<span  style="color:green; font-size:16px">Write a function that accepts a single parameter to find the number of movies for a given content rating. Use the function to find the number of movies for ratings 'R', 'PG-13', and 'PG'.</span>

In [21]:
def rating_filt(value):
    return movies['content_rating'] == value

In [22]:
movies[rating_filt('R')].head(2)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
The Lovers,2015.0,Color,R,109.0,Roland Joffé,596.0,Tamsin Egerton,622.0,Alice Englert,525.0,...,283.0,NaN,Action|Adventure|Romance|Sci-Fi,10.0,2138,1770s|british india|great barrier reef|india|ring,English,Belgium,NaN,4.5
Terminator 3: Rise of the Machines,2003.0,Color,R,109.0,Jonathan Mostow,84.0,Nick Stahl,648.0,M.C. Gainey,284.0,...,191.0,150350192.0,Action|Sci-Fi,280.0,305340,drifter|exploding truck|future|machine|skynet,English,USA,200000000.0,6.4

In [23]:
movies[rating_filt('PG-13')].head(2)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1

In [24]:
movies[rating_filt('PG')].head(2)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Tangled,2010.0,Color,PG,100.0,Nathan Greno,15.0,Brad Garrett,799.0,Donna Murphy,553.0,...,284.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,324.0,294810,17th century|based on fairy tale|disney|flower...,English,USA,260000000.0,7.8
Harry Potter and the Half-Blood Prince,2009.0,Color,PG,153.0,David Yates,282.0,Alan Rickman,25000.0,Daniel Radcliffe,11000.0,...,10000.0,301956980.0,Adventure|Family|Fantasy|Mystery,375.0,321795,blood|book|love|potion|professor,English,UK,250000000.0,7.5